//margin

//margin generated
@for $i from 1 through 10 {
  .m-#{$i} {
    margin: #{$i}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .my-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }
  .mx-#{$i} {
    margin-inline: #{$i}rem;
  }
}

.m {
  &-auto {
    margin: auto;
  }
}

.my {
  &-auto {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.mx {
  &-auto {
    margin-inline: auto;
  }
}

.ml {
  &-auto {
    margin-left: auto;
  }
}
.mr {
  &-auto {
    margin-right: auto;
  }
}

.mt {
  &-auto {
    margin-top: auto;
  }
}

.mb {
  &-auto {
    margin-bottom: auto;
  }
}
