@forward "landing/landing.scss";
@forward "landing/blogs";
@forward "landing/projects";
@forward "landing/skills";
@forward "landing/home";
@forward "landing/contact";
@forward "blogs/blogs.scss";
@forward "singleBlog/singleBlog.scss";
@forward "login/login.scss";
@forward "landing/works.scss";
