@use "../util/colors.scss" as colors;
@use "../util/hover.scss" as hover;
@use "../breakpoints.scss" as res;

.admins_page {
  display: flex;
  flex-flow: column wrap;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  gap: 1rem;
  background-color: colors.$lightBlack;
  color: colors.$white;
  h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
  }
  .createAdmin {
    *:not(.fa-solid) {
      width: 100%;
    }
    h1 {
      text-align: center;
      font-size: 26px;
      font-weight: 600;
    }
    inset: 0;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    background-color: colors.$lightBlack;
    max-width: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: center;
    z-index: 1000;
    margin: auto;
    padding: 40px;
    .inner {
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: left;
      align-items: center;
      gap: 2rem;
    }
    .adminImage {
      display: none;
    }
    .error {
      color: colors.$red;
      font-size: 12px;
    }

    input {
      padding: 10px;
      border-bottom: 2px solid colors.$black;
      opacity: 0.7;
      width: 100% !important;
      background-color: colors.$lightBlack;
      color: colors.$white;
    }
    input::placeholder {
      font-weight: 600;
      font-size: 14px;
      color: colors.$white;
    }

    input {
      font-weight: 600;
      font-size: 14px;
      height: fit-content;
      width: 200px;
    }
    .fa-eye,
    .fa-eye-slash {
      width: fit-content;
      cursor: pointer;
    }

    .activeInputBorder {
      border-color: colors.$purple;
    }

    .fileInputDiv {
      width: 100%;
      height: 200px;
      background-color: colors.$lightBlack;
      border: 1px dashed colors.$purple;
      border-radius: 10px;
      .imageUploadCloud {
        max-width: 50px;
        object-fit: cover;
        max-height: 100px;
        cursor: pointer;
      }

      p {
        text-align: center;
        font-size: 12px;
        opacity: 0.6;
      }

      .URLImage {
        width: 100%;
        height: 100%;
        max-height: 600px;
        border: 1px dashed colors.$purple;
        border-radius: 10px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .x {
          top: 2rem;
          right: 2rem;
          z-index: 1000;
          width: fit-content;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          width: 2rem !important;
          height: 2rem;
          background-color: colors.$red;
          color: colors.$white;
          border-radius: 5px;
          cursor: pointer;
        }
      }
      .imageUploadButton {
        padding: 10px 20px;
        max-width: 130px;
        text-align: center;
        font-size: 10px;
        background-color: colors.$purple;
        color: colors.$white;
        border-radius: 3px;
        border: 2px solid colors.$purple;
        cursor: pointer;
        @include hover.hover-effect(
          200ms,
          (
            background-color: colors.$white,
            color: colors.$purple,
            border-color: colors.$purple,
          )
        );
      }
    }

    .publishAndCancel {
      button,
      .cancelLink {
        width: 102px;
        height: 42px;
        font-weight: 400;
        font-size: 14px;
        cursor: pointer;
        border: none;
      }
      .cancelLink {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: row nowrap;
        border: 1px solid colors.$purple;
        border-radius: 4px;
        color: colors.$white;
        background-color: colors.$lightBlack;
        @include hover.hover-effect(
          200ms,
          (
            background-color: colors.$purple,
            color: colors.$white,
          )
        );
      }

      .publish {
        background: #888888;
        border-radius: 4px;
        color: colors.$white;
        @include hover.hover-effect(
          200ms,
          (
            background-color: colors.$black,
            color: colors.$white,
          )
        );
      }

      .activePublish {
        background: colors.$purple;
        border-radius: 4px;
        border: 1px solid colors.$purple;
        color: colors.$white;
        @include hover.hover-effect(
          200ms,
          (
            background-color: colors.$lightBlack,
            color: colors.$white,
          )
        );
      }
    }
  }
  .update {
    .fileInputDiv {
      position: relative;
      .blogImageUploaderLabel {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        width: fit-content;
        .editButton {
          background-color: colors.$purple;
          color: colors.$white;
          min-width: 60px;
          border-radius: 8px;
          cursor: pointer;
          opacity: 0.8;
          transition: all 200ms linear;
          &:hover {
            opacity: 1;
          }
          img {
            width: 18px;
            height: 18px;
          }
          padding: 5px;
          font-size: 14px;
        }
      }
    }
  }
  button {
    padding: 10px 20px;
    min-width: 100px;
    font-size: 20px;
    background-color: colors.$purple;
    color: colors.$white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 200ms linear;
  }
  button:hover {
    opacity: 1;
  }
  .wantToDelete {
    background-color: colors.$white;
    z-index: 1200;
    padding: 20px;
    border-radius: 6px;
    margin: auto;
    inset: 0;
    width: fit-content;
    height: fit-content;
    button {
      font-size: 14px;
      padding: 10px 20px;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      font-weight: 600;
      opacity: 0.8;
      transition: all 200ms linear;
      &:hover {
        opacity: 1;
      }
    }
    .no {
      background-color: colors.$blue;
      color: colors.$white;
    }
    .yes {
      background-color: colors.$red;
      color: colors.$white;
    }
  }
  .admin_card {
    padding: 10px;
    border-radius: 5px;
    background-color: colors.$purple;
    color: colors.$white;
    opacity: 0.9;
    width: 100%;
    max-width: 400px;
    transition: all 200ms linear;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    .fa-solid {
      padding: 8px;
      border-radius: 6px;
      cursor: pointer;
    }
    .fa-trash {
      background-color: colors.$red;
    }
    .fa-pen-to-square {
      background-color: colors.$blue;
    }
    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
