@use "../util/colors.scss" as colors;
@use "../util/hover.scss" as hover;
.loginPage {
  background-color: colors.$lightBlack;
  color: colors.$white;
  .loginBox {
    padding: 20px;
    background-color: colors.$purple;
    border: 2px colors.$purple solid;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    z-index: 10;
  }

  .backToHome {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 40px;
  }
  padding: 20px;
  min-height: 100vh;
  h1 {
    font-size: 26px;
    font-weight: 600;
  }
  h1,
  p {
    margin: 0;
    text-align: center;
  }
  input {
    overflow: auto;
  }
  input {
    position: relative;
    transition: all 100ms linear;
  }

  .animateInputText {
    top: -1.6rem;
    color: white;
    left: 0;
    opacity: 0;
    transition: all 100ms linear;
  }

  .animateInputTextFocus {
    opacity: 100;
  }
  .emailInput {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid colors.$purple;
    max-width: 350px;
    border-radius: 6px;
    color: colors.$lightBlack;
  }
  .passwordInput {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid colors.$purple;
    background-color: colors.$white;
    max-width: 350px;
    border-radius: 6px;
    color: colors.$lightBlack;
  }
  .fa-solid {
    cursor: pointer;
  }
  input::placeholder {
    color: colors.$lightBlack;
  }
  button {
    padding: 8px 20px;
    border: 2px solid colors.$lightBlack;
    background-color: colors.$lightBlack;
    color: colors.$white;
    border-radius: 6px;
    cursor: pointer;
    @include hover.hover-effect(
      200ms,
      (
        border-color: colors.$white,
      )
    );
  }
}
