@use "../util/colors.scss" as colors;
@use "../util/hover.scss" as hover;
@use "../breakpoints.scss" as res;
@use "../util/typography.scss" as font;

.panelLoading {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: colors.$lightBlack;
  color: colors.$white;
}

.panel_header {
  font-family: font.$karla, sans-serif !important;

  position: fixed;
  top: 0;
  .active {
    background-color: #474553;
    border-right: 3px solid colors.$white !important;
  }

  background-color: colors.$black;
  color: colors.$white;
  height: fit-content;
  z-index: 100;
  padding: 10px;
  padding-left: 220px !important;
  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }
  .admin_logout,
  .admin_getOut,
  .admin_add,
  .admin_goBack,
  .admins {
    padding: 10px;
    width: fit-content;
    font-size: 12px;
    color: colors.$white;
    border: none;
    cursor: pointer;
    opacity: 1;
    transition: all 200ms linear;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    align-items: center;
    gap: 5px;
    width: 100%;
  }
  .admin_logout,
  .admin_getOut,
  .admin_goBack {
    width: fit-content !important;
    border-radius: 6px;
  }
  .admin_logout {
    border: 1px solid colors.$red;
    &:hover {
      background-color: colors.$red;
    }
  }
  .admin_getOut {
    border: 1px solid colors.$blue;
    &:hover {
      background-color: colors.$blue;
    }
  }
  .admin_goBack {
    border: 1px solid colors.$white;
    &:hover {
      background-color: colors.$white;
      color: colors.$black;
    }
  }

  .admin_add,
  .admins {
    border-radius: 0;
    height: 60px;
    font-size: 16px;
    gap: 1rem;
    transition: all 200ms linear;
    &:hover {
      background-color: #474553;
    }
  }
  .storage {
    border-radius: 0;
    padding: 6px;
    transition: all 200ms linear;
    cursor: pointer;
  }

  .admin_profile {
    padding: 2px;
    background-color: colors.$purple;
    color: colors.$white;
    cursor: pointer;
    opacity: 0.9;
    transition: all 200ms linear;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
    &:hover {
      opacity: 1;
    }
  }
  .admin_left_panel {
    width: 200px;
    top: 0;
    left: 0;
    background-color: colors.$black;
    height: 100%;
  }
  .admin_left_panel_blog {
    width: fit-content;
    top: 0;
    left: 0;
    background-color: colors.$black;
    height: 100%;
  }
  .storage {
    width: 100%;
    right: 30px;
    .fa-fire {
      color: colors.$yellow;
    }
    span {
      font-size: 10px;
    }
    .storageOuter {
      border-radius: 10px;
      width: 140px;
      height: 10px;
      border: 1px solid colors.$yellow;
      .storageInner {
        background-color: colors.$yellow;
        height: 100%;
      }
    }
  }
}

.panel {
  font-family: font.$karla, sans-serif !important;
  padding-bottom: 100px;
  h1 {
    font-size: 26px;
    font-weight: 600;
  }
  padding-top: 100px;
  padding-left: 220px !important;
  padding-right: 20px;
  position: relative;
  min-height: 100vh;
  background-color: colors.$lightBlack;
  color: colors.$white !important;
  .admin_blogs {
    width: 100%;
    text-align: center;

    .uploadButton {
      padding: 5px 10px;
      font-size: 14px;
      background-color: colors.$blue;
      color: colors.$black;
      border: none;
      gap: 6px;
      border-radius: 6px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 200ms linear;
    }
    .yes,
    .no {
      padding: 5px 10px;
      width: 100px;
      font-size: 14px;
      border: none;
      gap: 6px;
      border-radius: 6px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 200ms linear;
    }
    button:hover {
      opacity: 1;
    }
    .blogs {
      padding: 30px 0;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 20%; /* Adjust the height as needed */
        background: none;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20%; /* Adjust the height as needed */
        background: none;
      }
      .theBlogs {
        max-height: 500px;
        overflow-y: scroll;
      }
      .theBlogs::-webkit-scrollbar {
        display: none;
      }

      .blogTable {
        font-weight: 600;
      }
      .blogCard {
        border-bottom: 2px solid colors.$black;
        padding: 0 10px;
        .tableIndex {
          min-width: 60px;
          width: 30%;
        }
        .tableOperation {
          min-width: 70px;
          width: 30%;
          font-weight: 600;
          .fa-pen-to-square {
            color: colors.$blue;
            cursor: pointer;
          }
          .fa-trash {
            color: colors.$red;
            cursor: pointer;
          }
        }
      }
    }
    .no_blog {
      padding: 60px 0;
      font-weight: 600;
      font-size: 22px;
    }

    .update {
      .fileInputDiv {
        position: relative;
        .blogImageUploaderLabel {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          width: fit-content;
          .editButton {
            background-color: colors.$purple;
            color: colors.$white;
            min-width: 60px;
            border-radius: 8px;
            cursor: pointer;
            opacity: 0.8;
            transition: all 200ms linear;
            &:hover {
              opacity: 1;
            }
            img {
              width: 18px;
              height: 18px;
            }
            padding: 5px;
            font-size: 14px;
          }
        }
      }
    }
    .wantToDelete {
      background-color: colors.$lightBlack;
      z-index: 1200;
      padding: 20px;
      border-radius: 6px;
      margin: auto;
      inset: 0;
      width: fit-content;
      height: fit-content;
      button {
        font-size: 14px;
      }
      .no {
        background-color: colors.$blue;
      }
      .yes {
        background-color: colors.$red;
      }
    }
  }

  .admin_projects {
    width: 100%;
    text-align: center;
    .uploadButton {
      padding: 5px 10px;
      font-size: 14px;
      background-color: colors.$blue;
      color: colors.$black;
      border: none;
      gap: 6px;
      border-radius: 6px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 200ms linear;
    }
    .yes,
    .no {
      padding: 5px 10px;
      width: 100px;
      font-size: 14px;
      border: none;
      gap: 6px;
      border-radius: 6px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 200ms linear;
    }
    button:hover {
      opacity: 1;
    }
    .projects {
      padding: 30px 0;
      .theProjects {
        max-height: 500px;
        overflow-y: scroll;
      }
      .theProjects::-webkit-scrollbar {
        display: none;
      }
      .projectTable {
        font-weight: 600;
      }

      .projectCard {
        border-bottom: 2px solid colors.$black;
        padding: 0 10px;
        border-right: 0;
        border-left: 0;
        .tableIndex {
          min-width: 60px;
          width: 30%;
        }
        .tableOperation {
          min-width: 70px;
          width: 30%;
          font-weight: 600;
          .fa-pen-to-square {
            color: colors.$blue;
            cursor: pointer;
          }
          .fa-trash {
            color: colors.$red;
            cursor: pointer;
          }
        }
      }
    }

    .no_project {
      padding: 60px 0;
      font-weight: 600;
      font-size: 22px;
    }

    .createProject {
      * {
        width: 100%;
      }
      inset: 0;
      max-height: 600px;
      overflow-y: scroll;
      overflow-x: hidden;
      border-radius: 10px;
      background-color: colors.$lightBlack;
      max-width: 400px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: left;
      align-items: center;
      z-index: 1000;
      margin: auto;
      padding: 40px;
      .stack {
        padding: 6px 10px;
        width: fit-content;
        border-radius: 6px;
        cursor: pointer;
        transition: all 200ms linear;
      }
      .inner {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: left;
        align-items: center;
        gap: 2rem;
      }
      .projectImage {
        display: none;
      }
      .error {
        color: colors.$purple;
        font-size: 12px;
      }

      input {
        padding: 10px;
        border-bottom: 2px solid colors.$black;
        opacity: 0.7;
        width: 100% !important;
        background-color: colors.$lightBlack;
        color: colors.$white !important;
      }
      input::placeholder {
        font-weight: 600;
        font-size: 14px;
      }

      input {
        font-weight: 600;
        font-size: 14px;
        height: fit-content;
        background-color: colors.$lightBlack;
        color: colors.$white !important;

        width: 200px;
      }

      .activeInputBorder {
        border-color: colors.$purple;
      }

      .fileInputDiv {
        width: 100%;
        height: 200px;
        max-width: 200px;

        background: colors.$lightBlack;
        border: 1px dashed colors.$purple;
        border-radius: 10px;
        .imageUploadCloud {
          max-width: 50px;
          object-fit: cover;
          max-height: 100px;
          cursor: pointer;
        }

        p {
          text-align: center;
          font-size: 12px;
          opacity: 0.6;
        }

        .URLImage {
          width: 100%;
          height: 100%;
          max-height: 600px;
          border: 1px dashed colors.$purple;
          border-radius: 10px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .x {
            top: 1rem;
            right: 1rem;
            z-index: 1000;
            width: fit-content;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            background-color: colors.$red;
            color: colors.$white;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        .imageUploadButton {
          padding: 10px 20px;
          max-width: 130px;
          text-align: center;
          font-size: 10px;
          background-color: colors.$purple;
          color: colors.$white;
          border-radius: 3px;
          border: 2px solid colors.$purple;
          cursor: pointer;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$lightBlack,
              color: colors.$purple,
              border-color: colors.$purple,
            )
          );
        }
      }

      .publishAndCancel {
        button,
        .cancelLink {
          width: 102px;
          height: 42px;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          border: none;
        }
        .cancelLink {
          text-align: center;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-flow: row nowrap;
          border: 1px solid colors.$purple;
          border-radius: 4px;
          color: colors.$white;
          background-color: colors.$lightBlack;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$purple,
              color: colors.$white,
            )
          );
        }

        .publish {
          background: #888888;
          border-radius: 4px;
          color: colors.$white;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$black,
              color: colors.$white,
            )
          );
        }

        .activePublish {
          background: colors.$purple;
          border-radius: 4px;
          border: 1px solid colors.$purple;
          color: colors.$white;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$lightBlack,
              color: colors.$white,
            )
          );
        }
      }
    }

    .update {
      .fileInputDiv {
        position: relative;
        .blogImageUploaderLabel {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          width: fit-content;
          .editButton {
            background-color: colors.$purple;
            color: colors.$white;
            min-width: 60px;
            border-radius: 8px;
            cursor: pointer;
            opacity: 0.8;
            transition: all 200ms linear;
            &:hover {
              opacity: 1;
            }
            img {
              width: 18px;
              height: 18px;
            }
            padding: 5px;
            font-size: 14px;
          }
        }
      }
    }
    .wantToDelete {
      background-color: colors.$lightBlack;
      z-index: 1200;
      padding: 20px;
      border-radius: 6px;
      margin: auto;
      inset: 0;
      width: fit-content;
      height: fit-content;
      button {
        font-size: 14px;
      }
      .no {
        background-color: colors.$blue;
      }
      .yes {
        background-color: colors.$red;
      }
    }
  }

  .admin_works {
    width: 100%;
    text-align: center;
    min-height: 0;
    .uploadButton {
      padding: 5px 10px;
      font-size: 14px;
      background-color: colors.$blue;
      color: colors.$black;
      border: none;
      gap: 6px;
      border-radius: 6px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 200ms linear;
    }
    .yes,
    .no {
      padding: 5px 10px;
      width: 100px;
      font-size: 14px;
      border: none;
      gap: 6px;
      border-radius: 6px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 200ms linear;
    }
    button:hover {
      opacity: 1;
    }
    .works {
      padding: 30px 0;
      min-height: 0 !important;
      .theWorks {
        padding: 20px 0;
        max-height: 500px;
        overflow-y: scroll;
      }
      .theWorks::-webkit-scrollbar {
        display: none;
      }
      .workTable {
        font-weight: 600;
      }

      .workCard {
        border-bottom: 2px solid colors.$black;
        padding: 0 10px;
        border-right: 0;
        border-left: 0;
        .tableIndex {
          min-width: 60px;
          width: 30%;
        }
        .tableOperation {
          min-width: 70px;
          width: 30%;
          font-weight: 600;
          .fa-pen-to-square {
            color: colors.$blue;
            cursor: pointer;
          }
          .fa-trash {
            color: colors.$red;
            cursor: pointer;
          }
        }
      }
    }

    .no_project {
      padding: 60px 0;
      font-weight: 600;
      font-size: 22px;
    }

    .createWork {
      * {
        width: 100%;
      }
      inset: 0;
      max-height: 600px;
      overflow-y: scroll;
      overflow-x: hidden;
      border-radius: 10px;
      background-color: colors.$lightBlack;
      max-width: 400px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: left;
      align-items: center;
      z-index: 1000;
      margin: auto;
      padding: 40px;
      .inner {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: left;
        align-items: center;
        gap: 2rem;
      }
      .workImage {
        display: none;
      }
      .error {
        color: colors.$purple;
        font-size: 12px;
      }

      input {
        padding: 10px;
        border-bottom: 2px solid colors.$black;
        opacity: 0.7;
        width: 100% !important;
        background-color: colors.$lightBlack;
        color: colors.$white !important;
      }
      input::placeholder {
        font-weight: 600;
        font-size: 14px;
      }

      input {
        font-weight: 600;
        font-size: 14px;
        height: fit-content;
        background-color: colors.$lightBlack;
        color: colors.$white !important;

        width: 200px;
      }

      .activeInputBorder {
        border-color: colors.$purple;
      }

      .fileInputDiv {
        width: 100%;
        height: 200px;
        max-width: 200px;

        background: colors.$lightBlack;
        border: 1px dashed colors.$purple;
        border-radius: 10px;
        .imageUploadCloud {
          max-width: 50px;
          object-fit: cover;
          max-height: 100px;
          cursor: pointer;
        }

        p {
          text-align: center;
          font-size: 12px;
          opacity: 0.6;
        }

        .URLImage {
          width: 100%;
          height: 100%;
          max-height: 600px;
          border: 1px dashed colors.$purple;
          border-radius: 10px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .x {
            top: 1rem;
            right: 1rem;
            z-index: 1000;
            width: fit-content;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            background-color: colors.$red;
            color: colors.$white;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        .imageUploadButton {
          padding: 10px 20px;
          max-width: 130px;
          text-align: center;
          font-size: 10px;
          background-color: colors.$purple;
          color: colors.$white;
          border-radius: 3px;
          border: 2px solid colors.$purple;
          cursor: pointer;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$lightBlack,
              color: colors.$purple,
              border-color: colors.$purple,
            )
          );
        }
      }

      .publishAndCancel {
        button,
        .cancelLink {
          width: 102px;
          height: 42px;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          border: none;
        }
        .cancelLink {
          text-align: center;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-flow: row nowrap;
          border: 1px solid colors.$purple;
          border-radius: 4px;
          color: colors.$white;
          background-color: colors.$lightBlack;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$purple,
              color: colors.$white,
            )
          );
        }

        .publish {
          background: #888888;
          border-radius: 4px;
          color: colors.$white;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$black,
              color: colors.$white,
            )
          );
        }

        .activePublish {
          background: colors.$purple;
          border-radius: 4px;
          border: 1px solid colors.$purple;
          color: colors.$white;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$lightBlack,
              color: colors.$white,
            )
          );
        }
      }
    }

    .update {
      .fileInputDiv {
        position: relative;
        .blogImageUploaderLabel {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          width: fit-content;
          .editButton {
            background-color: colors.$purple;
            color: colors.$white;
            min-width: 60px;
            border-radius: 8px;
            cursor: pointer;
            opacity: 0.8;
            transition: all 200ms linear;
            &:hover {
              opacity: 1;
            }
            img {
              width: 18px;
              height: 18px;
            }
            padding: 5px;
            font-size: 14px;
          }
        }
      }
    }
    .wantToDelete {
      background-color: colors.$lightBlack;
      z-index: 1200;
      padding: 20px;
      border-radius: 6px;
      margin: auto;
      inset: 0;
      width: fit-content;
      height: fit-content;
      button {
        font-size: 14px;
      }
      .no {
        background-color: colors.$blue;
      }
      .yes {
        background-color: colors.$red;
      }
    }
  }

  .admin_stacks {
    width: 100%;
    text-align: center;
    min-height: 0;
    .uploadButton {
      padding: 5px 10px;
      font-size: 14px;
      background-color: colors.$blue;
      color: colors.$black;
      border: none;
      gap: 6px;
      border-radius: 6px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 200ms linear;
    }
    .yes,
    .no {
      padding: 5px 10px;
      width: 100px;
      font-size: 14px;
      border: none;
      gap: 6px;
      border-radius: 6px;
      cursor: pointer;
      opacity: 0.8;
      transition: all 200ms linear;
    }
    button:hover {
      opacity: 1;
    }
    .stacks {
      padding: 30px 0;
      min-height: 0 !important;
      .theStacks {
        padding: 20px 0;
        max-height: 500px;
        overflow-y: scroll;
      }
      .theStacks::-webkit-scrollbar {
        display: none;
      }
      .stackTable {
        font-weight: 600;
      }

      .stackCard {
        border-bottom: 2px solid colors.$black;
        padding: 0 10px;
        border-right: 0;
        border-left: 0;
        .tableIndex {
          min-width: 60px;
          width: 30%;
        }
        .tableOperation {
          min-width: 70px;
          width: 30%;
          font-weight: 600;
          .fa-pen-to-square {
            color: colors.$blue;
            cursor: pointer;
          }
          .fa-trash {
            color: colors.$red;
            cursor: pointer;
          }
        }
      }
    }

    .no_stack {
      padding: 60px 0;
      font-weight: 600;
      font-size: 22px;
    }

    .createStack {
      * {
        width: 100%;
      }
      inset: 0;
      max-height: 600px;
      height: fit-content !important;
      overflow-y: scroll;
      overflow-x: hidden;
      border-radius: 10px;
      background-color: colors.$lightBlack;
      max-width: 400px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: left;
      align-items: center;
      z-index: 1000;
      margin: auto;
      padding: 40px;
      .inner {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: left;
        align-items: center;
        gap: 2rem;
      }

      .error {
        color: colors.$purple;
        font-size: 12px;
      }

      input {
        padding: 10px;
        border-bottom: 2px solid colors.$black;
        opacity: 0.7;
        width: 100% !important;
        background-color: colors.$lightBlack;
        color: colors.$white !important;
      }
      input::placeholder {
        font-weight: 600;
        font-size: 14px;
      }

      input {
        font-weight: 600;
        font-size: 14px;
        height: fit-content;
        background-color: colors.$lightBlack;
        color: colors.$white !important;

        width: 200px;
      }

      .activeInputBorder {
        border-color: colors.$purple;
      }

      .publishAndCancel {
        button,
        .cancelLink {
          width: 102px;
          height: 42px;
          font-weight: 400;
          font-size: 14px;
          cursor: pointer;
          border: none;
        }
        .cancelLink {
          text-align: center;
          justify-content: center;
          align-items: center;
          display: flex;
          flex-flow: row nowrap;
          border: 1px solid colors.$purple;
          border-radius: 4px;
          color: colors.$white;
          background-color: colors.$lightBlack;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$purple,
              color: colors.$white,
            )
          );
        }

        .publish {
          background: #888888;
          border-radius: 4px;
          color: colors.$white;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$black,
              color: colors.$white,
            )
          );
        }

        .activePublish {
          background: colors.$purple;
          border-radius: 4px;
          border: 1px solid colors.$purple;
          color: colors.$white;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$lightBlack,
              color: colors.$white,
            )
          );
        }
      }
    }

    .wantToDelete {
      background-color: colors.$lightBlack;
      z-index: 1200;
      padding: 20px;
      border-radius: 6px;
      margin: auto;
      inset: 0;
      width: fit-content;
      height: fit-content;
      button {
        font-size: 14px;
      }
      .no {
        background-color: colors.$blue;
      }
      .yes {
        background-color: colors.$red;
      }
    }
  }
}

.createBlogPage {
  min-height: 100vh;
  width: 100%;
  padding: 60px;
  background-color: colors.$lightBlack;
  display: flex;
  padding-left: 120px !important;
  flex-flow: column nowrap;
  justify-content: left;
  align-items: center;
  z-index: 1000;
  .inner {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
    align-items: center;
    gap: 2rem;
  }
  .blogImage {
    display: none;
  }

  .error {
    color: colors.$purple;
    font-size: 12px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid colors.$black;
    opacity: 0.7;
    background-color: colors.$lightBlack;
    color: colors.$white !important;
  }
  input::placeholder {
    font-weight: 600;
    font-size: 26px;
    background-color: colors.$lightBlack;
    color: colors.$white !important;
  }

  input {
    font-weight: 600;
    font-size: 26px;
    background-color: colors.$lightBlack;
    color: colors.$white !important;

    height: fit-content;
  }

  .styles {
    span {
      font-size: 25px;
      color: colors.$white;
      cursor: pointer;
      transition: all 200ms linear;
      &:hover {
        color: colors.$purple;
      }
    }
    .addBox {
      right: 100px;
      width: 300px;
      padding: 10px;
      z-index: 100;
      opacity: 1 !important;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      span {
        font-size: 14px;
        height: 40px;
        width: 100px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
      }
      .remove {
        background: colors.$black;
        &:hover {
          color: colors.$white;
        }
      }
      .add {
        background-color: colors.$purple;
        &:hover {
          color: colors.$white;
        }
      }
    }
  }
  .blogBodyDiv {
    min-height: 300px;
    border: 2px solid colors.$purple;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      width: fit-content;
      border-bottom: 2px solid colors.$purple;
      display: inline;
      color: colors.$white;
    }
  }

  textarea::placeholder {
    font-weight: 500;
    font-size: 16px;
  }

  textarea {
    resize: none;
    border-radius: 5px;
    color: colors.$white !important;
    border: 2px solid colors.$purple;
    overflow: hidden;
  }

  .activeInputBorder {
    border-color: colors.$purple;
  }

  .publishAndCancel {
    button,
    .cancelLink {
      width: 102px;
      height: 42px;
      font-weight: 400;
      font-size: 14px;
      cursor: pointer;
      border: none;
    }
    .cancelLink {
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      border: 1px solid colors.$purple;
      border-radius: 4px;
      color: colors.$white;
      background-color: colors.$lightBlack;
      @include hover.hover-effect(
        200ms,
        (
          background-color: colors.$purple,
          color: colors.$white,
        )
      );
    }

    .publish {
      background: #888888;
      border-radius: 4px;
      color: colors.$white;
      @include hover.hover-effect(
        200ms,
        (
          background-color: colors.$black,
          color: colors.$white,
        )
      );
    }

    .activePublish {
      background: colors.$purple;
      border-radius: 4px;
      color: colors.$white;
      border: 1px solid colors.$purple;
      @include hover.hover-effect(
        200ms,
        (
          background-color: colors.$lightBlack,
          color: colors.$white,
        )
      );
    }
  }
}

@include res.responsive(mobile) {
  .panel_header {
    padding-left: 80px !important;
    .admin_left_panel {
      .admin_left_panel_three {
        flex-flow: column-reverse;
      }
      width: fit-content !important;

      .admin_add,
      .admins {
        justify-content: center;
        span {
          display: none;
        }
      }
    }
    .storage {
      width: fit-content !important;

      .storageOuter,
      span {
        display: none;
      }
      .fa-fire {
        font-size: 14px;
        padding: 10px;
        background-color: colors.$yellow;
        border-radius: 10px;
        color: colors.$white;
      }
    }
  }
  .panel {
    padding-left: 80px !important;
    padding-right: 10px !important;
    .blogs,
    .projects,
    .works {
      padding: 60px 0;
      .blogCard,
      .projectCard,
      .workCard {
        .tableIndex {
          font-size: 12px;
        }
        .tableOperation {
          font-size: 12px;
        }
      }
    }
  }
}
