//color variables

$purple: #707aff;
$white: #ffffff;
$black: #181818;
$lightBlack: #262626;
$yellow: #ffc700;
$green: #29ffe5;
$black: #121212;
$blue: #00eded;
$pink: #ff01f5;
$grey: #4d4d4d;
$hoverColor: #3700d5;
$red: #ff0000;
