@use "../../util/colors.scss" as colors;
@use "../../util/hover.scss" as hover;
@use "../../animations/animation.scss" as animation;
@use "../../breakpoints.scss" as res;
@use "../../util/typography.scss" as font;
.layout {
  .header {
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: colors.$black;
    color: colors.$white;
    min-height: 80px;
    nav {
      min-height: 80px;

      ul {
        padding-right: 50px;
        min-height: 80px;

        li {
          min-height: 80px;
          font-size: 18px;
          font-weight: bold;
          list-style-type: none;
          span {
            padding-inline: 20px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            border-bottom: 2px solid transparent;

            align-items: center;
            min-height: 80px;
            @include hover.hover-effect(
              200ms,
              (
                color: colors.$purple,
                border-color: colors.$purple,
              )
            );
          }

          cursor: pointer;
        }
        .animatedNavItem {
          animation: animatedNavItem 1s ease-out 0.5s infinite alternate both;
          opacity: 1;
          transition: all 200ms linear;
        }
        @keyframes animatedNavItem {
          0% {
            opacity: 0.3;
          }
          50% {
            opacity: 0.7;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }

    .activeNav {
      position: relative;
      color: colors.$purple;
      transition: all 200ms ease;
      border-bottom: 2px solid colors.$purple;
    }

    .languageDiv,
    .blogLanguageDiv {
      right: 30px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      color: colors.$purple;
      width: 68px;
      height: 30px;
      border: 1.5px solid colors.$purple;
      gap: 10px;
      border-radius: 10px;

      cursor: pointer;

      .languageDivBox {
        border-radius: 10px;
        gap: 5px;
        width: 100%;
        height: 100%;
        @include hover.hover-effect(
          200ms,
          (
            color: colors.$white,
            background-color: colors.$purple,
          )
        );
      }

      .languagesList {
        top: 110%;
        background-color: colors.$black;
        color: colors.$white;
        border-radius: 10px;

        width: 100%;
        padding: 5px;
        span {
          width: 100%;
          text-align: center;
          background-color: colors.$lightBlack;
          border-radius: 6px;
          font-size: 14px;
          @include hover.hover-effect(
            200ms,
            (
              background-color: colors.$purple,
            )
          );
        }
      }
    }

    .mobileNav {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 999;
      display: none !important;
      position: absolute;
      top: 5rem;
      right: 0;
      left: 0;
      background-color: colors.$black;
      transition: all 200ms ease-in-out;

      ul {
        padding-right: 0 !important;
        padding: 20px 0;
        li {
          text-align: center;
          width: 100%;
          span {
            font-size: 16px !important;
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .hide {
      overflow: hidden;
      height: 0;
      scale: 0;
    }
    .show {
      overflow: hidden;
      height: fit-content;
      scale: 1;
    }

    .humb {
      display: none;
      cursor: pointer;
      position: absolute;
      left: 30px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1.5rem;
      height: fit-content;
      transition: all 200ms linear;
      gap: 7px;
      div {
        transition: all 200ms linear;

        width: 30px;
        height: 3px;
        background-color: colors.$white;
      }
    }
    .xMobNav {
      transition: all 200ms linear;
      .x-2 {
        background-color: transparent;
      }
      .x-1 {
        transform: rotate(45deg) translateY(14px);
      }
      .x-3 {
        transform: rotate(-45deg) translateY(-14px);
      }
    }
  }

  .footer {
    background-color: colors.$lightBlack;
    font-family: font.$poppins, sans-serif !important;
    color: colors.$white;
    min-height: 70px;
    padding: 20px 10px;
    text-align: center;
    .socials {
      span {
        font-size: 22px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid colors.$purple;
        color: colors.$purple;
        @include hover.hover-effect(
          200ms,
          (
            background-color: colors.$purple,
            color: colors.$white,
          )
        );
      }
    }
  }
}

@include res.responsive(computer) {
  .header {
    nav {
      display: flex !important;
    }
  }
}

@include res.responsive(tablet) {
  .header {
    nav {
      ul {
        li {
          font-size: 18px !important;
        }
      }
    }
    .languageDiv {
      width: 55px !important;
      height: 25px !important;
      font-size: 13px !important;
    }
    .activeNav::after {
      width: 8px !important;
      height: 8px !important;
    }
  }
}

@include res.responsive(mobile) {
  .layout {
    .header {
      gap: 0 !important;
      flex-flow: column wrap;
      .navigation {
        display: none !important;
      }
      nav ul li span {
        border-bottom: 0 !important;
      }
      .mobileNav,
      .humb {
        display: flex !important;
      }

      .activeNav::after {
        width: 8px !important;
        height: 8px !important;
      }
    }
  }
}
