@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600;1,700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Varela&family=Varela+Round&display=swap");
@import url("https://fonts.cdnfonts.com/css/cubano");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: rabar-39;
  src: url(/fonts/Rabar_039.ttf);
}
input,
textarea:is(:focus) {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change this to your desired track color */
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Change this to your desired thumb color */
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
::-webkit-scrollbar-corner {
  background-color: #f1f1f1; /* Change this to your desired corner color */
}

/* custom component styles */

aside::-webkit-scrollbar {
  display: none !important;
}
.alert::-webkit-scrollbar {
  display: none !important;
}

.hero::-webkit-scrollbar {
  display: none !important;
}

.panelDetailBox::-webkit-scrollbar {
  display: none !important;
}

a.active.headerLink::after {
  content: "";
}
@layer components {
  a.active.headerLink {
    @apply text-primary-500 relative;
  }

  section {
    @apply bg-niceBlack  w-full flex flex-col justify-start  items-center  h-fit pb-[20px];
  }
  .home_sections_h1_blur {
    @apply absolute top-[50px] w-[90px] md:w-[140px] h-[70px] md:h-[100px] blur-[70px] bg-primary-500 rotate-180 opacity-70 transition-all duration-200 z-20 rounded-full;
  }
  section h1 {
    @apply z-50;
  }
  .element {
    @apply w-full flex flex-col justify-center items-center gap-5 md:gap-10 px-5 md:px-10 lg:px-20 py-20  !text-white-500   relative overflow-visible;
  }

  header,
  footer {
    @apply !px-5 md:!px-10 lg:!px-20 !p-3 z-[1000];
  }
  .chakra {
    @apply !z-[1000];
  }
  h1 {
    @apply md:text-[36px] text-[22px];
  }
  h2 {
    @apply md:text-[24px] text-[18px];
  }

  p {
    @apply md:text-[20px] text-[14px];
  }

  td,
  th {
    @apply border-2 border-solid border-primary-500;
  }
}
