@use "../../util/colors.scss" as colors;
@use "../../breakpoints.scss" as res;
@use "../../animations/animation.scss" as animation;
@use "../../util/hover.scss" as hover;
@use "../../util/typography.scss" as type;

.blogs {
  padding-inline: 0 !important;
  color: colors.$white;
  .blogCards::-webkit-scrollbar {
    display: none !important;
  }

  .blogCards {
    overflow-x: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    .blogCard {
      width: 328px;
      flex: 0 0 auto;
      background-color: colors.$lightBlack;
      border-radius: 24px;
      padding: 10px;
      text-align: center;
      height: 410px;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
        height: 184px;
        cursor: pointer;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 139.9%;
      }
      .readBlog {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 304px;
        height: 39px;
        background: #707aff;
        border-radius: 9px;
        border: none;
        color: colors.$white;
        cursor: pointer;
        @include hover.hover-effect(
          200ms,
          (
            background-color: colors.$black,
            color: colors.$purple,
          )
        );
      }
      .blogTime {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .seeMore {
    width: 200px;
    background-color: colors.$lightBlack;
    height: 40px;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 1px colors.$black solid;
    @include hover.hover-effect(
      200ms,
      (
        background-color: colors.$black,
        border-color: colors.$white,
      )
    );
  }
  text-align: center;
}
