@use "../../util/colors.scss" as colors;
@use "../../breakpoints.scss" as res;
@use "../../animations/animation.scss" as animation;
@use "../../util/hover.scss" as hover;

.contact {
  min-height: 70vh;
  .contactType {
    span,
    a {
      font-size: 26px;
      cursor: pointer;
    }
  }
}

@include res.responsive(mobile) {
  .contact {
    .contactType {
      gap: 1rem !important;
      span,
      a {
        font-size: 16px !important;
      }
    }
  }
}
