@use "../../util/colors.scss" as colors;
@use "../../breakpoints.scss" as res;
@use "../../animations/animation.scss" as animation;
@use "../../util/hover.scss" as hover;

.projects {
  padding-inline: 0 !important;

  .projectCards::-webkit-scrollbar {
    display: none !important;
  }
  .projectCards {
    overflow-x: auto;
    display: flex;

    .projectCard {
      width: 350px;
      height: 400px;
      flex: 0 0 auto;

      border: 1px colors.$white solid;
      border-radius: 21px;
      p {
        margin: 0;
      }
      img {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        max-height: 400px;
        width: 100%;
        height: 75%;
      }
      .projectCardFooter {
        height: 25%;
        width: 100%;
        padding: 20px 0;
        background-color: colors.$purple;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }
}

@include res.responsive(tablet) {
  .projectCards {
    .projectCard {
      width: 350px !important;
      height: 400px !important;
    }
  }
}

@include res.responsive(mobile) {
  .projectCards {
    .projectCard {
      height: 300px !important;
      width: 300px !important;
    }
  }
}

@include res.responsive(small) {
  .projectCards {
    .projectCard {
      width: 90% !important;
      min-width: 250px;
    }
  }
}
