@use "./breakpoints.scss" as res;
@use "./util/colors.scss" as colors;
@use "./util/hover.scss" as hover;
.appear {
  width: 300px;
  opacity: 1;
}
.not_appear {
  width: 0;
  overflow: hidden;
  scale: 0;
}
.popup_cards {
  max-width: 300px;
  width: 0;
  position: fixed;
  right: 0;
  max-width: 300px;
  z-index: 1200;
  width: 100%;
  color: colors.$black;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-items: flex-end;
  align-items: baseline;
  gap: 10px;
  bottom: 0;
  height: fit-content;
  overflow-y: scroll;
  padding: 20px 10px 20px 10px;
  overflow-x: hidden;
  transition: all 200ms linear;

  .card {
    display: flex;
    padding: 0.8rem;
    z-index: 1000;
    background-color: colors.$lightBlack;
    text-align: center;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    width: 100%;
    min-height: fit-content;
    border-radius: 0.5rem;
    gap: 1rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    span {
      .fa-bug {
        color: colors.$red;
      }
      .fa-square-check {
        color: colors.$green;
      }
    }
    .text {
      overflow-wrap: break-word;
      width: fit-content;
    }
    .progress {
      transition: width 200ms linear;
      position: absolute;
      top: 0;
      background: rgb(38, 38, 38);
      background: linear-gradient(90deg, rgba(38, 38, 38, 1) 0%, rgba(112, 122, 255, 1) 45%, rgba(255, 0, 0, 1) 100%);
      left: 0;
      border-top-right-radius: 2rem;
      border-top-left-radius: 2rem;
      opacity: 1;
      height: 5px;
    }
  }
  .error {
    color: colors.$red;
  }
  .success {
    color: colors.$green;
  }
}
