//those things not when touch
@use "./util/colors.scss" as colors;
@media (pointer: coarse) {
  .home {
    .leftHome {
      .showCV {
        background-color: colors.$purple;
        border: none;
      }
      .showCV:hover {
        background-color: colors.$purple;
        border: none;
      }
    }
    .blurs {
      left: 100px !important;
      top: 200px !important;
    }
  }
  .blogsPage {
    .searchInputDiv {
      .x {
        color: tomato;
      }
    }
    .searchInputDiv:hover {
      .x {
        color: tomato;
      }
    }

    .allBlogs {
      .blogCard {
        .wrapper {
          .inner {
            top: 60%;
          }
        }
        .readBlog:hover {
          background-color: colors.$purple;
          color: colors.$white;
        }
      }
    }
  }
  .blogs {
    .blogCards {
      .blogCard {
        .wrapper {
          .inner {
            top: 60%;
          }
        }
        .readBlog:hover {
          background-color: colors.$purple;
          color: colors.$white;
        }
      }
    }
    .seeMore:hover {
      background-color: colors.$lightBlack;
      border-color: colors.$black;
    }
  }
  .singleBlog {
    .relatedBlogs {
      .blogCard {
        .wrapper {
          .inner {
            top: 10%;
          }
        }
        .readBlog:hover {
          background-color: colors.$purple;
          color: colors.$white;
        }
      }
    }
  }

  .layout {
    .header {
      nav {
        ul {
          li:hover {
            color: colors.$white;
          }
        }
      }
      .blogLanguageDiv {
        .languageDivBox:hover {
          color: colors.$purple;
          background-color: colors.$black;
        }
        .languageList {
          span:hover {
            background-color: colors.$black;
          }
        }
      }
    }
    .footer {
      .socials {
        .fa-facebook:hover,
        .fa-youtube:hover,
        .fa-github:hover,
        .fa-linkedin:hover {
          color: colors.$white;
        }
      }
    }
  }

  .skills {
    .angle {
      opacity: 1;
    }
    .skillsBox {
      .skillGroup {
        .skillIcons {
          .showSkillNameDiv:hover::after {
            height: 0;
          }
        }
      }
    }
  }
  .works {
    .workCards {
      .workCard:hover {
        background-color: colors.$lightBlack;
      }
    }
  }
  .projects {
    .pagination {
      .paginationNumber:hover {
        background-color: colors.$lightBlack;
      }
    }
  }
}
